@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background: #E9EDF1;
    font-family: 'Nunito', sans-serif;
}

header {
    background-color: #DBE1E8;
    padding: 2.5em;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 33%;
    background-color: white;
    height: 100vh;
    padding: 4.6em;
    transition: right .5s ease-in-out;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    cursor: pointer;
    width: 3rem;
    display: block;
    margin-left: auto;
    margin-bottom: 6.6rem;
}

.menu-btn {
    width: 3rem;
    cursor: pointer;
}

.logo {
    color: #0460BC;
    font-size: 2.2rem;
    font-family: 'Nunito';
    font-weight: bold;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4.3em;
}

ul li a {
    font-size: 1.8rem;
    color: #000;
}

ul li a:hover {
    color: #2171C2;
}

.active {
    font-weight: bold;
}

a.cart {
    background-color: #C3CCD7;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.8rem;
    color: #000;
    border-radius: .4rem;
}

a.cart p {
    margin: 0;
}

a.cart:hover {
    background-color: #85C0CE;
}

.mobile-cart-menu {
    display: flex;
    align-items: center;
    gap: 2em;
}

.open {
    right: 0;
}

@media screen and (min-width: 600px) {
    .menu-btn, .close-btn {
        display: none;
    }

    nav {
        position: unset;
        height: auto;
        background: none;
        padding: 0;
        width: auto;
    }

    ul {
        flex-direction: row;
    }
}