html {
    font-size: 62.5%;
}

body {
    font-family: 'Playfair Display';
    margin: 2em;
}

h1 {
    font-size: 3.2rem;
    margin-bottom: 6.8rem;
    font-weight: normal;
}

span {
    color: #07801E;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: 400px;
}

img {
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
}

@media  screen and (min-width: 600px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .container img {
        flex-grow: 1;
    }
}